.page-login {
    background-image: linear-gradient(to right bottom, #303946, #2a3751, #2a345b, #322e62, #3f2666);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-chat {
    background-image: linear-gradient(to right bottom, #303946, #2a3751, #2a345b, #322e62, #3f2666);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
